/*css for calculator

*/

body {
	background-color: #80151c;
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 25px;
	padding-bottom: 25px;


}

table.link, tr.link, th.link{
	background-color: #e8edf0;
	font-family: "Arial Black", sans-serif;
	text-shadow: 2px 2px white;
	table-layout: fixed;
}

h1{
	font-size:32px;
	font-weight: lighter;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
}

h2{
	
	font-size:18px;
	color: #911a22;
}

h3{
	font-size: 14px;
	font-weight: lighter;
}



div.main {
	background-color: white;
	border-top: 15px solid #4b4744;
	
	border-bottom: 25px solid #4b4744;

	padding-top: 40px;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 300px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 15px;
	border-bottom-width: 25px;
	border-bottom-style: outset;
}

div.block1{
	background-color: #eff5f5;
	width: auto;
	padding: 15px;
	
	border-radius: 6px;
}

th {
	text-align: left;
	background-color: #e6e6e5;
	border:2px solid #d2d5d8;
	padding: 4px;
	
}

table.table1, tr, td{
	width: 60px;
	border: 2px solid #d2d5d8;
	border-collapse: collapse;
	table-layout: fixed;
}

td {
	font-weight: lighter;
	text-align: left;
	
	width: 80px;
}

button.rightside{
	float: right;
	color: white;
	background-color: #a01c25;
	font-size: 12px;
  	text-align: center;
  	height: 25px;
  	width: 70px;
  	margin: 5px;
  	border-radius: 2px;
}

input{
	text-align: center;
	width: 80px;
	height: 20px;
	border-color: #ccd0d4;
	border-collapse: collapse;
}

h4 {
	color: #911a22;
	font-size:18px;
	


}

