
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="calculator.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <table class = "link", style="width:100%">
    <tr class="link">
      <th class="link"><a href="http://www.sfu.ca" target="blank">SFU home</th>
      <th class="link"><a href="http://www.lib.sfu.ca" target="blank">Library</th>
      <th class="link"><a href="http://go.sfu.ca" target="blank">Student Center</th>
    </tr>
  </table>


  <title>Grade Calculator</title>
</head>


<body>

<script type="text/javascript" src="calculator.js"></script>
<div class= "main">
<h1>Grade Calculator</h1>
<div class="block1">
  <h2>Activities</h2>
  <p>Give grades to the numeric activities:</p>

  <br>
  <form id='form1'>
  <table id='table1', style="width:70%" >
    <tr>
      <th>Name</th>
      <th>Short Name</th>
      <th>Weight</th>
      <th>Grade</th>
      <th>Percent</th>
    </tr>

    <tr>
      <td>Activity 1</td>
      <td>A1</td>
      <td><input  id = "W1" class="weight" type="text" name="Weight" ></td>
      <td><input id = 'A1_num' type="text" name="A1_num" onkeyup="calculator()"> / <input id = 'A1_den' type="text" name="A1_den" onkeyup="calculator()"></td>
      <td id="percent1" class = 'percentage'></td>
    </tr>

    <tr>
      <td>Activity 2</td>
      <td>A2</td>
      <td><input id = "W2" class="weight" type="text" name="Weitght"></td>
      <td><input id = "A2_num" type="text" name="A2_num" onkeyup="calculator()"> / <input id = 'A2_den' type="text" name="A2_den" onkeyup="calculator()"></td>
      <td id = 'percent2' class = 'percentage'></td>
    </tr>

    <tr>
      <td>Activity 3</td>
      <td>A3</td>
      <td><input id = "W3" class="weight" type="text" name="Weight" ></td>
      <td><input id = 'A3_num' type="text" name="A3_num" onkeyup="calculator()"> / <input id = 'A3_den' type="text" name="A3_den" onkeyup="calculator()"></td>
      <td id="percent3" class = 'percentage'></td>
    </tr>

    <tr>
      <td>Activity 4</td>
      <td>A4</td>
      <td><input id = "W4" class="weight" type="text" name="Weight" ></td>
      <td><input id = 'A4_num' type="text" name="A4_num" onkeyup="calculator()"> / <input id = 'A4_den' type="text" name="A4_den" onkeyup="calculator()"></td>
      <td id="percent4" class = 'percentage'></td>
    </tr>
    
  </table>
  <p id='result'>Result</p>
  <table class="result">
    <tr id="result">
      <th id="result"> Mean:</th>
      <th id="mean"> </th>
      <th id="result">Weighted:</th>
      <th id="weighted_print"></th>
    </tr>

    <tr id="result">
      <th id="result"> </th>
      <th id="result"> </th>
      <th id="result">Your grade of this course:</th>
      <th id="course_grade"> </th>
    </tr>
  </table>
  
  
  
  <span class="left">
    <button type="button" onclick="addRow()"> Add Activity</button>
  </span>
  
  <span>
  <button class="rightside" type="button" onclick="grade()">GRADE</button>
  <button class="rightside" type="button" onclick="mean()">MEAN</button>
  <button class="rightside" type="button" onclick="weighted()">WEIGHTED</button>  
  </span>
  
  </form>

  
</div>
</div>

</body>
</html>